@import 'vars/global';
@import 'vars/colors';


#loading-process {
	position: absolute;
	top: 45%;
	left: 50%;
	margin-left: -60px;
	border: 2px solid $color_2;
	padding: 15px 60px;
	background: $color_3;
	color: $color_4;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	z-index: 501;
}
#loading-mask {
	position: absolute;
	color: $color_4;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	z-index: 500;
	.loader {
		position: fixed;
		top: 45%;
		left: 50%;
		width: 150px;
		margin-left: -105px;
		padding: 15px 30px;
		background: $color_3;
		border: 2px solid $color_2;
		color: $color_4;
		font-weight: bold;
		text-align: center;
		z-index: 1000;
		opacity: 0.80;
	}
}
#message-popup-window-mask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: $color_5;
	opacity: .5;
}
.message-popup {
	position: absolute;
	z-index: 99999;
	width: 407px;
	top: -9999em;
	left: 50%;
	margin: 0 0 0 -203px;
	background: $color_6;
	padding: 0 4px 4px;
	&.show {
		top: 280px;
	}
	.message-popup-head {
		padding: 1px 0;
		h2 {
			padding: 0 10px;
			margin: 0;
			font-weight: bold;
			font-size: 12px;
			line-height: 19px;
			color: $color_7;
		}
		a {
			float: right;
			border: 1px solid $color_8;
			padding: 0 12px 0 7px;
			background: $url_0 0 50% repeat-x !important;
			font-size: 12px;
			line-height: 17px;
			color: $color_9;
			text-decoration: none !important;
			cursor: pointer;
			span {
				float: left;
				background: $url_1 0 50% no-repeat;
				padding-left: 19px;
			}
		}
		&:after {
			@extend %extend_35;
		}
	}
	.message-popup-content {
		background: $color_10;
		padding: 21px 21px 10px;
		.message-icon {
			float: left;
			width: 50px;
			padding: 47px 0 0;
			background-position: 50% 0;
			background-repeat: no-repeat;
			font-size: 10px;
			line-height: 12px;
			text-transform: uppercase;
			text-align: center;
			overflow: hidden;
		}
		.message-critical {
			color: $color_11;
		}
		.message-major {
			color: $color_12;
		}
		.message-minor {
			color: $color_13;
		}
		.message-notice {
			color: $color_14;
		}
		.message-text {
			float: right;
			width: 295px;
			min-height: 4.5em;
			overflow: hidden;
			color: $color_7;
		}
		.read-more {
			margin: 7px 0 0;
			text-align: right;
			a {
				background: $url_2 0 50% no-repeat;
				padding-left: 14px;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.message:after {
			@extend %extend_35;
		}
	}
}
.notifications-wrapper {
	background: $color_65;
	clear: both;
	#messages {
		margin: 0 11px 0 36px;
		clear: both;
	}
}
.notification-global {
	font-size: 12px/16px;
	font-weight: normal;
	margin: 0 11px 0 36px;
	color: $color_66;
	position: relative;
	clear: both;
	.label {
		font-weight: bold;
		color: $color_67;
	}
	.clickable {
		cursor: pointer;
	}
	a {
		text-decoration: underline;
		color: $color_51;
		&:hover {
			text-decoration: none;
			color: $color_51;
		}
	}
	.fa-exclamation-triangle {
		color: $color_69;
		margin-right: 4px;
	}
	.fa-exclamation-circle {
		color: $color_70;
		margin-right: 4px;
	}
	.fa-exclamation {
		color: $color_70;
		margin-right: 4px;
	}
	.fa-bug {
		color: $color_71;
		margin-right: 4px;
	}
	&:after {
		@extend %extend_35;
	}
	span.critical {
		color: $color_68;
	}
}
.notification-global-notice {
}
.error {
	color: $color_72 !important;
	font-weight: bold !important;
}
.required {
	color: $color_72 !important;
	font-weight: bold !important;
}
.validation-advice {
	color: $color_72 !important;
	font-weight: bold !important;
	clear: both;
	min-height: 15px;
	margin: 3px 0 0 9px;
	background: $url_24 no-repeat 2px 1px;
	padding-left: 16px;
	font-size: .95em;
	font-weight: bold;
	line-height: 1.25em;
}
.notice {
	color: $color_8;
}
.messages {
	ul {
		border: 0 !important;
		li {
			padding: 0 !important;
			button {
				vertical-align: middle;
				margin: -8px 0 -2px 5px;
			}
		}
	}
	li {
		margin: 0 !important;
		padding: 6px 0 6px 2px !important;
		font: normal 1em/1.25em 'Hind', sans-serif !important;
		background-position: 0 5px;
		background-repeat: no-repeat;
		color: $color_9 !important;
	}
}
#messages .messages li{
    color: #CACACA !important;
	text-indent: 24px;
}
.messages li{
    color: #272727 !important;
}
.messages .notice-msg li{
    color: #272727 !important;
	text-indent: 24px;
}


.error-msg {
	background: none;
}
.success-msg {
	background: none;
	&:before {
		content: "\f058";
		color: $color_74;
		font-size: 1.25em/1.25em;
	}
}
.notice-msg {
	background-image: $url_21;
	background-position: 0 3px !important;
}
.warning-msg {
	border: 1px solid $color_75 !important;
	background: $color_76 $url_23 no-repeat 10px 10px !important;
	color: $color_1 !important;
}
a.error span {
	color: $color_72 !important;
	font-weight: bold !important;
}
#grop_fields .messages li {
	color: $color_73 !important;
}
#loginForm .messages li {
	color: $color_73 !important;
}
#messages .messages :before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	//Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translate(0, 0);
	float: left;
	margin-right: 5px;
}
#messages>ul>li.error-msg::before {
	content: "\f06a";
	color: $color_71;
	font-size: 1.25em/1.25em;
}